@import "mixins";
@import "placeholders";
@import "variables";

.title {
  @extend %title;
}

.content-wrapper {
  @extend %container;

  @include tablet {
    border-left: 1px solid $borders-color;
    border-right: 1px solid $borders-color;
  }
}

.sidebar {
  @include mobile {
    @include span(10 of 12);
    @include push(1);
  }
  @include span(4 first $no-gutters);
}

.main-content-wrapper {
  @include mobile {
    @include span(12);
  }

  @include tablet {
    box-shadow: -5px 0px 5px -3px $borders-color;
    @include span(8 last $no-gutters);
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  max-width: 210px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 4px;
  color: $light-color;
  font-size: 17px;
  text-transform: uppercase;
  transition: background-color, .2s ease;

  @include tablet-only {
    font-size: 15px;
    padding: 10px 7px;
  }

  $button-colors: (
    green: $green-color,
    blue: $blue-color,
    light-blue: $light-blue-color
  );

  @each $color_name, $current-color in $button-colors {
    &.btn__#{$color_name} {
      background-color: $current-color;

      &:hover {
        background-color: darken($current-color, 10%);
      }
    }
  }
}

.btn__text {
  margin-left: 10px;

  @include tablet-only {
    margin-left: 5px;
  }
}
