@import "mixins";
@import "placeholders";
@import "variables";

.title {
  @extend %title;
}

.content-wrapper {
  @extend %container;

  @include tablet {
    border-left: 1px solid $borders-color;
    border-right: 1px solid $borders-color;
  }
}

.sidebar {
  @include mobile {
    @include span(10 of 12);
    @include push(1);
  }
  @include span(4 first $no-gutters);
}

.main-content-wrapper {
  @include mobile {
    @include span(12);
  }

  @include tablet {
    box-shadow: -5px 0px 5px -3px $borders-color;
    @include span(8 last $no-gutters);
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  max-width: 210px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 4px;
  color: $light-color;
  font-size: 17px;
  text-transform: uppercase;
  transition: background-color, .2s ease;

  @include tablet-only {
    font-size: 15px;
    padding: 10px 7px;
  }

  $button-colors: (
    green: $green-color,
    blue: $blue-color,
    light-blue: $light-blue-color
  );

  @each $color_name, $current-color in $button-colors {
    &.btn__#{$color_name} {
      background-color: $current-color;

      &:hover {
        background-color: darken($current-color, 10%);
      }
    }
  }
}

.btn__text {
  margin-left: 10px;

  @include tablet-only {
    margin-left: 5px;
  }
}

.social-link {
  border-radius: 50%;
  border: 1px solid $light-color;
  color: $light-color;
  font-size: 20px;
  padding: 8px;
  display: inline-block;
  transition: all .5s ease;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: transparent;
    background-color: $light-color;

    .fa {
      color: $main-color;
    }
  }

  .fa {
    width: 25px;
    height: 23px;
    text-align: center;
  }
}

.download-app {
  display: inline-block;
  margin: 14px 0 0 10px;
  max-width: 100px;

  @include desktop {
    float: right;
  }

  &:last-child {
    margin: 10px 0 0 10px;
  }
}

.download-app__image {
  max-width: 100%;
}
