@import "variables";

.header {
  background-color: $main-color;
  padding: 20px 0;
}

.header-container {
  @extend %container;
  position: relative;
}

.header-title {
  @extend %title;
}

.header-logo {
  width: 100px;
  height: 47px;
  position: absolute;
  background: url('images/booster-fuels.png') no-repeat center center;
}

.header-profile-cont {
  display: none;

  @include tablet {
    position: absolute;
    right: 0;
    color: $light-color;
    margin-top: 5px;
    display: block;
  }
}

.header-profile__name {
  margin-left: 3px;
}

.header-profile__img {
  vertical-align: middle;
}
