@import "placeholders";
@import "variables";
@import "mixins";

.header {
  background-color: $main-color;
  padding: 10px 0;

  @include mobile {
    padding: 20px 0;
  }
}

.header-container {
  @extend %container;
  position: relative;
}

.header-title {
  @extend %title;
  color: $light-color;

  @include mobile {
    font-size: 22px;
  }
}

.header-logo {
  width: 74px;
  height: 35px;
  position: absolute;
  background: {
    image: url('../images/booster-fuels.png');
    repeat: no-repeat;
    position: center;
    size: cover;
  };

  @include mobile {
    position: static;
    margin: 0 auto;
  }
}

.header-profile-cont {
  display: none;

  @include tablet {
    position: absolute;
    right: 0;
    color: $light-color;
    display: block;
    font-size: 24px;
  }
}

.header-profile__name {
  margin-left: 3px;
  font-size: 16px;
}

.header-profile__img {
  vertical-align: middle;
}
