@import "bower_components/susy/sass/susy";
@import "placeholders";
@import "mixins";
@import "variables";

.header {
  background-color: $main-color;
  padding: 30px 0;
}

.header-container {
  @extend %container;
}

.header-profile-cont {
  display: none;

  @include tablet {
    float: right;
    color: $light-color;
    margin-top: 5px;
    display: block;
  }
}

.header-profile__name {
  margin-left: 3px;
}

.header-profile__img {
  vertical-align: middle;
}
