@import 'variables';
@import 'mixins';

%container {
  @include container;
  @include tablet-only { max-width: $container-width-tablet; }
  @include desktop-only { max-width: $container-width-desktop; }
  @include large-only { max-width: $container-width-large; }
  @include xlarge { max-width: $container-width-xlarge; }
}

%title {
  color: $light-color;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

%clearfix {
  content: "";
  display: table;
  clear: both;
}
